@import '~materialize-css/sass/components/color';

$primary-color: color('blue', 'lighten-2') !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color('teal', 'lighten-1') !default;
$success-color: color('green', 'lighten-3') !default;
$error-color: color('red', 'lighten-3') !default;
$link-color: color('light-blue', 'darken-1') !default;

$warning-color: color('orange', 'lighten-3') !default;
$notice-color: color('light-blue', 'lighten-3') !default;
$error-color: color('red', 'lighten-3') !default;

@import '~materialize-css/sass/components/variables';
